{% extends "base.html" %}
{% block title %}Register - Secure File Transmission{% endblock %}
{% block content %}
<div class="card" style="max-width: 400px;">
  <h2><i class="fas fa-user-plus tech-icons"></i> Create Account</h2>
  <form method="post">
    <input name="username" placeholder="Choose Username" required>
    <input name="email" type="email" placeholder="Enter Email" required>
    <input name="password" type="password" placeholder="Enter Password" required>
    <input name="confirm_password" type="password" placeholder="Confirm Password" required>
    <input type ="hidden" name="role" value="user">
        <button type="submit"><i class="fas fa-user-check"></i> Register</button>
  </form>
  <p style="text-align:center;font-size:0.97em;">
  <a href="{{ url_for('login') }}" style="color:#fff; font-weight:bold; text-decoration:underline;">
    <i class="fas fa-sign-in-alt"></i> Already have an account? Login here
  </a>
</p>
</div>
{% endblock %}